
<!DOCTYPE html>
<html>
<style>
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}</style>
<head >

    <h1 style="color:Green" ALIGN="CENTER">CHEAF
    </h1>
    </head>

<body>

<img src="1.png" about="cheaf" >
<img src="2.png">
<img src="3.png">
<img src="4.png">



<BR>
<BR>
<BR>
<BR>
<BR>

<BR>

 <h1 style="color:Green" ALIGN="CENTER">BREAKFAST

<BR>
<BR>
<BR>
<BR>

<BR>
<img src="breakfast1.jpg">
     <img src="breakfast2.jpg">
     <img src="breakfast3.jpg" width="900" height="300">

    </h1>
 <h1 style="color:Green" ALIGN="CENTER">DINNER

<BR>
<BR>
<BR>
<BR>

<BR>
<img src="dinner1.jpg">
     <img src="dinner2.jpg">
     <img src="dinner3.jpg" width="900" height="300">

    </h1>
    </center>
</body>
</html>